html {
  display: block;
  font-family: system-ui;
  font-size: medium;
  background-color: white;
  color: black;
}

/* children of the <head> element all have display:none */
head,
link,
meta,
script,
style,
title {
  display: none;
}

/* generic block-level elements */

body {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

address,
article,
aside,
div,
footer,
header,
hgroup,
layer,
main,
nav,
section {
  display: block;
}

marquee {
  display: inline-block;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

figcaption {
  display: block;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

q {
  display: inline;
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

center {
  display: block;
}

hr {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

/* media elements */

video {
  object-fit: contain;
}

audio {
  width: 200px;
  height: 25px;
}

/* heading elements */

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

:is(article, aside, nav, section) h1 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

:is(article, aside, nav, section) :is(article, aside, nav, section) h1 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

:is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) h1 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

:is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  h1 {
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

:is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  :is(article, aside, nav, section)
  h1 {
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h5 {
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h6 {
  display: block;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

/* tables */

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
}

/* for tables without table section elements (can happen with XHTML or dynamically created tables) */
table > tr {
  vertical-align: middle;
}

col {
  display: table-column;
}

colgroup {
  display: table-column-group;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td,
th {
  display: table-cell;
  vertical-align: inherit;
}

th {
  font-weight: bold;
}

caption {
  display: table-caption;
  text-align: center;
}

/* lists */

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

li {
  display: list-item;
}

ul ul,
ol ul {
  list-style-type: circle;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
  list-style-type: square;
}

dd {
  display: block;
  margin-inline-start: 40px;
}

dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

dt {
  display: block;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* form elements */

form {
  display: block;
  margin-top: 0em;
}

label {
  cursor: default;
}

legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-width: min-content;
}

button {
  appearance: button;
}

/* Form controls don't go vertical. */
input,
textarea,
keygen,
select,
button,
meter,
progress {
  writing-mode: horizontal-tb !important;
}
